<div class="container">
    <div class="row">
        <div class="col-lg-12 col-md-12 col-sm-12">
            <ul class="nav nav-tabs" id="myTab" role="tablist">
                <li class="nav-item" role="presentation">
                  <button class="nav-link active" id="salutation-tab" data-bs-toggle="tab" data-bs-target="#salutation" type="button" role="tab" aria-controls="salutation" aria-selected="true">Salutation</button>
                </li>
                <li class="nav-item" role="presentation">
                  <button class="nav-link" id="relationship-tab" data-bs-toggle="tab" data-bs-target="#relationship" type="button" role="tab" aria-controls="relationship" aria-selected="false">Relationship</button>
                </li>
              </ul>
              <div class="tab-content" id="myTabContent">
                <div class="tab-pane fade show active" id="salutation" role="tabpanel" aria-labelledby="salutation-tab">
                  salutation tab
                </div>
                <div class="tab-pane fade" id="relationship" role="tabpanel" aria-labelledby="relationship-tab">
                  relationship tab
                </div>
              </div>
        </div>
    </div>
</div>